* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 64px;
    background-color: rgb(64,64,64,0.75);
    display: flex;
    align-items: center;
}

header .header_img {
    position: relative;
    left: 200px;
}

.invite_foodwith {
    width: 100%;
    background-color: #fff;
}

.invite_foodwith .invitecontainer {
    height: 750px;
    background: url('./images/section_invite.jpg') no-repeat 50% 50%;
    max-width: 1920px;
    margin: 0 auto;
}

.foodwith_creator {
    width: 100%;
    background-color: #f9939d;
    
}

.foodwith_creator .foodwith_creatorcontainer {
    height: 822px;
    max-width: 1920px;
    background: url('./images/section_creator.jpg') no-repeat  50% 50%;
}

.foodwith_store {
    width: 100%;
    background-color: #d5e43f;
}

.foodwith_store .storecontainer {
    height: 1084px;
}